{% extends 'base.html' %}

{% block title %}500. Erro interno inesperado{% endblock title %}

{% block content %}
<section class="container">
    <div class="row">
        <h1>500</h1>
        <h2>Erro interno inesperado</h2>
        <p>Desculpe. Ocorreu um erro inesperado.</p>
        <p>Nossa equipe já foi notificada do problema.<br>
           Caso necessário entre em contato com
           <a href="mailto:suporte@eventex.com.br?subject=500 Erro interno inesperado">suporte@gerencex.com.br</a>
        </p>
    </div>
</section>
{% endblock content %}