{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="container-fluid">
    <div class="row">
            <h2>Afastamentos de {{ user.first_name }} {{ user.last_name }}</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Data</th>
                    <th>Motivo</th>
                    <th>Crédito</th>
                    <th>Débito</th>
                </tr>
                </thead>
                <tbody>
                    {% for a in absences %}
                        <tr>
                        <td>{{ a.date|date:"SHORT_DATE_FORMAT" }}</td>
                        <td>{{ a.cause }}</td>
                        <td>{{ a.credit }}</td>
                        <td>{{ a.debit }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
</div>
</section>

{% endblock %}