{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="container-fluid">
    {% if not_unique %}
        <div class="row">
            <p class="text-alert">
                Não foi possível cadastrar os afastamentos dos dias {{ not_unique|join:", " }}.
            </p>
        </div>
    {% endif %}
    <div class="row">
    <div class="col-sm-8 col-sm-offset-1">
        <h2>{{ first_name }} {{ last_name }}</h2>
        <h3>Afastamentos cadastrados</h3>
        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th>Data</th>
                <th>Motivo</th>
                <th>Crédito</th>
                <th>Débito</th>
            </tr>
            </thead>
            <tbody>
                {% for a in absences %}
                    <tr>
                    <td>{{ a.date|date:"SHORT_DATE_FORMAT" }}</td>
                    <td>{{ a.cause }}</td>
                    <td>{{ a.credit }}</td>
                    <td>{{ a.debit }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</section>

{% endblock %}