{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Gerencex{% endblock title %}</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{#    <link href='https://fonts.googleapis.com/css?family=Ubuntu:700' rel='stylesheet' type='text/css'>#}
</head>
<body>
    <header class="container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Gerencex</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/bancodehoras/">Banco de Horas</a></li>
                <li><a href="#">Afastamentos</a></li>
                <li><a href="#">Produtividade</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <div>
                    <form action="{% url 'regtime' %}" class="navbar-form" method="post">
                        {% csrf_token %}
                        <div class = "form-group">
                        {% if user.userdetail.atwork %}
                            <button type="submit" class="btn btn-danger">Registro de ponto: Saída</button>
                        {% else %}
                            <button type="submit" class="btn btn-success">Registro de ponto: Entrada</button>
                        {% endif %}
                        </div>
                    </form>
                    </div>
                </li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
{#            <p class="navbar-text navbar-right">#}
{#                {% if user.is_authenticated %}#}
{#                    Olá, <strong> {{ user.first_name }}</strong>!#}
{#                    <a href="{% url 'logout' %}">#}
{#                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>#}
{#                    </a>#}
{#                {% endif %}#}
{#            </p>#}
        </div>
    </nav>
    </header>
{% block content %}
{% endblock %}
    <footer class="container">
      <div class="row">
        <p class="col-sm-4">&copy; 2016 Gerencex</p>
      </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
            crossorigin="anonymous"></script>

</body>

</html>