{% extends 'base.html' %}
{% load static %}

{% load tz %}

{% block content %}
<section class="container-fluid">
<div class="row">
    <div class="col-sm-6">
        <div class="alert alert-success" role="alert">
            <h4>{{ user.first_name }} {{ user.last_name }}</h4>
            <ul>
                <li>Último registro: {{ status|upper }} em {{ date_time|timezone:"America/Sao_Paulo" }}</li>
                <li>Saldo de horas (posição de ontem): {{ balance }}</li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="alert alert-success" role="alert">
            {% if tickets %}
            <h4>Registros de hoje</h4>
                <ul>
                {% for ticket in tickets %}
                <li>{{ ticket.status|upper }} às {{ ticket.date_time|timezone:"America/Sao_Paulo"|date:"H:i:s" }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <figure>
            <a href="{% url 'hours_bank' %}">
                <img src="{% static 'img/banco-de-horas.jpg' %}" class="img-rounded"></a>
            <h2><a href="{% url 'hours_bank' %}">Banco de horas</a></h2>
        </figure>
    </div>
    <div class="col-sm-4">
        <figure>
            <a href="{% url 'absences' user.username %}">
                <img src="{% static 'img/afastamento.jpg' %}" class="img-rounded"></a>
            <h2><a href="{% url 'absences' user.username %}">Afastamentos</a></h2>
        </figure>
    </div>
    <div class="col-sm-4">
        <figure>
            <img src="{% static 'img/produtividade.jpg' %}" class="img-rounded">
            <h2>Produtividade</h2>
        </figure>
    </div>
</div>
</section>

{% endblock %}
