{% extends 'base.html' %}
{% load static %}

{% load tz %}

{% block content %}
<section class="container-fluid">
<div class="row">
    <div class="alert alert-success" role="alert">
{#        <h3>Último registro: {{ status|capfirst }} em {{ date_time|time:"SHORT_DATE_FORMAT" }} às#}
{#            {{ date_time|time:"H:i:s" }}</h3>#}
        <h4>{{ user.first_name }} {{ user.last_name }}</h4>
        <ul>
            <li>Último registro: {{ status|upper }} em {{ date_time|timezone:"America/Sao_Paulo" }}</li>
            <li>Saldo de horas (posição de ontem): {{ balance }}</li>
        </ul>

    </div>
</div>
<div class="row">
    <figure class="col-sm-4">
        <a href="{% url 'hours_bank' %}">
            <img src="{% static 'img/banco-de-horas.jpg' %}" class="img-rounded"></a>
        <h2><a href="{% url 'hours_bank' %}">Banco de horas</a></h2>
    </figure>
    <figure class="col-sm-4">
        <a href="{% url 'absences' user.username %}">
            <img src="{% static 'img/afastamento.jpg' %}" class="img-rounded"></a>
        <h2><a href="{% url 'absences' user.username %}">Afastamentos</a></h2>
    </figure>
    <figure class="col-sm-4">
        <img src="{% static 'img/produtividade.jpg' %}" class="img-rounded">
        <h2>Produtividade</h2>
    </figure>
</div>
</section>

{% endblock %}
