{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h2>Extrato de horas</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h3>{{ first_name }} {{ last_name }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h4>{{ date|date:"F" }} de {{ date|date:"Y" }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th class="text-center">Data</th>
                    <th class="text-center">Crédito</th>
                    <th class="text-center">Débito</th>
                    <th class="text-center">Saldo</th>
                    <th class="text-center">Observação</th>
                </tr>
                </thead>
                <tbody class="text-center">
                    {% for l in lines %}
                        <tr class="text-center">
                        <td>{{ l.date|date:"SHORT_DATE_FORMAT" }}</td>
                        <td>{{ l.credit }}</td>
                        <td>{{ l.debit }}</td>
                        <td class="text-center">
                            {% if '-' in l.balance %}
                                <spam class="debit">{{ l.balance }}</spam>
                            {% else %}
                                <spam class="credit">{{ l.balance }}</spam>
                            {% endif %}
                        </td>
                        <td>{{ l.comment }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            {% if previous %}
            <a href="{% url 'my_hours_bank' username=username year=previous.year month=previous.month %}"
               class="btn btn-default" role="button">Mês anterior</a>
            {% endif %}
        </div>
        <div class="col-sm-1 col-sm-offset-10">
            {% if next %}
            <a href="{% url 'my_hours_bank' username=username year=next.year month=next.month %}"
               class="btn btn-default" role="button">Mês seguinte</a>
            {% endif %}
        </div>
    </div>
</section>


{% endblock %}