{% extends 'base.html' %}
{% load static %}
{% load tz %}
{#{% get_current_timezone as TIME_ZONE %}#}

{% block content %}
<section class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-sm-center">
            {% if register == "entrada" %}
                <h3>Bem vindo, {{ user.first_name }} {{ user.last_name }}!</h3>
            {% elif register == "saída" %}
                <h3>Adeus, {{ user.first_name }} {{ user.last_name }}!</h3>
            {% else %}
                <h3 class="bg-warning">Saída não registrada!</h3>
                <p>Você não registrou a saída no dia anterior. Entre em contato com seu chefe imediato,
                    para que o registro seja feito manualmente.</p>
            {% endif %}
        </div>
    </div>
    {% if register != "falha" %}
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <h3 class="text-success">{{ register|capfirst }} registrada</h3>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Usuário:</td>
                            <td class="text-primary">{{ user.username }}</td>
                        </tr>
                        <tr>
                            <td>Data:</td>
                            <td>{{ time|localtime|date:"SHORT_DATE_FORMAT" }}</td>
                        </tr>
                        <tr>
                            <td>Horário:</td>
                            <td>{{ time|localtime|date:"H:i:s" }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
</section>

{% endblock %}